################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin-int/Debug-x64/SandBox
/bin/Debug-x64
/.vs/PPoem/v17
